@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700,800');
@import url('https://fonts.googleapis.com/css?family=Cookie');

// Font
$sans: 'Alegreya Sans', Helvetica, sans-serif;
$art: 'Cookie', cursive;

// Color
$main: red;
$gray: rgba(0,0,0,0.150);
$black: #000;
$white: rgba(255,255,255,1);