.dashboard-component {
    background: #FAFBFC;
    font-family: $sans;

    .display-component {
        padding-left: 249px;
        transition: .2s all ease-in-out;
        .header {
            user-select: none;
            transition: .2s all ease-in-out;
            background: rgba($white, 0.975);
            border-bottom: 1px solid $gray;
            box-shadow: 0px 0px 5px 0px rgba($black, 0.1);
            color: $black;
            position: fixed;
            top: 0px;
            right: 0px;
            left: 249px;
            margin: auto;
            text-align: center;
            z-index: 99;
            padding: 20px 20px;
            font-size: 1.2em;
            height: 60px;
            line-height: 23px;

            .leftBtn {
                text-align: left;
                float: left;
                cursor: pointer;
                i {
                    margin-right: 6px;
                }
                &:active {
                    opacity: 0.4;
                }
            }
            .rightBtn {
                text-align: right;
                float: right;
                cursor: pointer;
                i {
                    margin-right: 6px;
                }
                &:active {
                    opacity: 0.4;
                }
            }
        }
        
        .content {
            position: relative;
            padding-left: 0px;
            padding-top: 60px;
            margin: auto;
            min-height: 100vh;
            overflow-x: hidden;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;


            .container {
                padding: 20px;
                max-width: 960px;
                margin: auto;
                width: 100%;
                padding-bottom: 50px;
            }
        }
        
        &.explore {
            .section {
                 position: relative;
                .title {
                    color: #2e3d49;
                    font-size: 0.8em;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: 600;
                    padding-top: 10px;
                    padding-left: 35px;
                    margin-bottom: 15px;
                    &.first {
                        padding-top: 60px;
                    }
                }
                .blur {
                    background: rgba(255,255,255,1);
                    filter: blur(6px);
                    width: 50px;
                    z-index: 92;
                    height: 420px;
                    position: absolute;
                    top: 15px;
                    bottom: 0;

                    &.left {
                        left: -10px;
                    }
                    &.right {
                        right: -30px;
                    }
                }
            }

            .resource.card {
                cursor: pointer;
                height: 360px;
                width: 255px;
                display: inline-block;
                vertical-align: top;

                margin: 0px 15px;
                min-width: 250px;

                border: 0px solid rgba(0,0,0,0);
                background: white;
                border-radius: 0.375rem;
                box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
                // transition: all 0.1s ease-in-out;
                &:hover {
                    box-shadow: 10px 15px 30px rgba(0,0,0,0.1);    
                    // transition:  all 0.5s ease-out;
                }
                &:active{
                    opacity: 0.7;
                }
                .image {
                    background-position: center;
                    height: 156px;
                    background-size: cover !important;
                    border-top-left-radius: 0.375rem;
                    border-top-right-radius: 0.375rem;
                    position: relative;
                    span {
                        position: absolute;
                        padding-left: 6px;
                        padding-right: 6px;
                        border-radius: 0.1rem;
                        z-index: 90;
                        left: 10px;
                        top: 10px;
                        background: white;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        box-shadow: 4px 6px 8px 0px rgba(46,61,73,0.2);  
                        vertical-align: baseline;
                        font-weight: 500;
                        font-size: 0.8rem;
                    }
                    .overlay {
                        opacity: 0.8;
                        width: 100%;
                        height: 9.75rem;
                        border-top-left-radius: 0.375rem;
                        border-top-right-radius: 0.375rem;
                    }
                }
                .body {
                    text-transform: capitalize;
                    white-space: normal;
                    word-wrap: break-word;
                    font-size: 1.5rem;
                    font-weight: 400;
                    padding: 24px 32px;
                    height: 8.25rem;
                }
            }

            &.volunteer {
                .volunteer-item{
                    transition: .1s all ease-in-out;
                    background: white;
                    margin-bottom: 0px;
                    border-radius: 0rem;
                    padding: 20px;
                    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
                    cursor: pointer;
                    &:hover {
                        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
                        margin-bottom: 5px;
                    }
                    .event-title{
                        font-size: 1.4rem;
                        font-weight: 900;
                    }
                    .organization {
                        font-size: 0.9rem;
                        opacity: 1;
                        .span{
                            opacity: 0.7;
                        }
                        a:hover{
                            text-decoration: underline;
                        }
                    }
                    .information{
                        display: flex;
                        flex-direction: row;
                        .info {
                            width: 50%;
                            align-items: stretch;
                            @media (max-width: 500px) {
                               width: 100%;
                            }
                            
                            .left{
                                float: left;
                                min-height: 50px;
                                width: 50px;
                                font-size: 1.5rem;
                                text-align: center;
                                line-height: 50px;
                                margin: 10px 10px 10px 0px;
                                border-radius: 100px;
                                color: $gold;
                            }
                            .right{
                                margin: 10px;
                                min-height: 50px;
                            }
                        }
                        
                    }
                }
            }
        }
    }

    .admin-component {
        .nav-link {
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
            &.active {
                opacity: 1;
                font-weight: 600;
            }
        }
    }

    .form-group {
        .yeah-input  {
            background: rgba(0,0,0,0.03);
            &:hover {
                background: rgba(0,0,0,0.01);
            }
            &:active {
                background: rgba(0,0,0,0);
            }
            &:focus {
                background: white;
            }
            &:disabled {
                opacity: 0.8;
                &:hover {
                    background: rgba(0,0,0,0.03);
                }
            }
        }
    }
    .card {
        border-radius: 0px;
        background-color: #fff;
        border: solid 1px #dbe2e8;
        padding: 60px;
        &.resource {
            padding: 0px;
        }

        @media (max-width: 500px) {
            padding: 30px;
        }
        
        .flex-container {
            display: flex;

            @media (max-width: 850px) {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
            }

            .flex-item {
                width: 100%;
            }

            .flex-item+.flex-item {
                margin-left: 20px;
                @media (max-width: 850px) {
                    margin-top: 0px;
                    margin-left: 0px;
                }
            }

            button.flex-item+button.flex-item {
                @media (max-width: 850px) {
                    margin-top: 20px;
                }
            }

            &.btn-container {
                float: right;
                @media (max-width: 850px) {
                    width: 100%;
                }
            }
        }
    }
}


.tab-toolbar-container {
    display: none !important;
    opacity: 0;
    user-select: none;
    visibility: hidden !important;
}
