.details-component {
    text-align: center;
    padding: 70px 0px;
    width: 100%;
    margin: 0px;
    background: white;
    transition: all 0.1s ease-in-out;
    .lead {
        padding-top: 5%;
        max-width: 40rem;
        margin: auto;
        .program{
            letter-spacing: 0.125rem;
            text-transform: uppercase;
            font-weight: 600;
            color: #7d97ad;
            font-size: 0.8125rem;
            line-height: 1.5rem;
            margin-bottom: 1.5rem;
        }
        .title{
            margin: 0.67em 0;
            font-weight: 300;
            color: #2e3d49;
            font-size: 2.5rem;
            line-height: 3rem;
        }
        p{
            font-size: 1.125rem;
            line-height: 2rem;
            color: #525c65;
            font-weight: 400;
            margin-bottom: 3rem;
        }
        .video-wrapper{
            position: relative;
            video{
                margin: auto;
                width: 640px;
                max-width: 40em;
                box-shadow: 0 0.3125em 1.25em 0 rgba(46,61,73,0.12);
                position: relative;
                z-index: 5;
                @media (max-width: 700px) {
                    width: 100%;
                }
            }
            .outer{
                background: #fafbfc;
                position: absolute;
                bottom: 0px;
                right: 0px;
                left: 0px;
                height: 230px;
                width: 100%;
                z-index: 1;
            }

        }
        .introduction{
            padding-top: 60px;
            position: relative;
            background: #fafbfc;
        }
    }
}