.details-component {
    text-align: center;
    padding: 70px 0px;
    width: 100%;
    margin: 0px;
    background: white;
    transition: all 0.1s ease-in-out;
    ::selection,::-moz-selection {
        background: rgba($light-blue, 0.1);
        // color: white;
    }
    .lead {
        padding-top: 5%;
        margin: auto;
        .program{
            letter-spacing: 0.125rem;
            text-transform: uppercase;
            font-weight: 600;
            color: #7d97ad;
            font-size: 0.8125rem;
            line-height: 1.5rem;
            margin-bottom: 1.5rem;
        }
        .title{
            margin: 0.67em 0;
            font-weight: 300;
            color: #2e3d49;
            font-size: 2.5rem;
            line-height: 3rem;
        }
        p{
            font-size: 1.125rem;
            line-height: 2rem;
            color: #525c65;
            font-weight: 400;
            margin-bottom: 3rem;
        }
        .video-wrapper{
            position: relative;
            video{
                margin: auto;
                width: 640px;
                max-width: 40em;
                box-shadow: 0 0.3125em 1.25em 0 rgba(46,61,73,0.12);
                position: relative;
                z-index: 5;
                @media (max-width: 700px) {
                    width: 100%;
                }
            }
            .outer{
                background: #fafbfc;
                position: absolute;
                bottom: 0px;
                right: 0px;
                left: 0px;
                height: 230px;
                width: 100%;
                z-index: 1;
            }

        }
        .introduction{
            width: 100%;
            padding: 60px 0px 80px;
            position: relative;
            background: #fafbfc;
            .title {
                margin: 20px;
                text-transform: capitalize;
            }
            .section{
                margin: auto;
                max-width: 40rem;
                padding: 40px 5px;
            }
            .avatar{
                border-radius: 100px;
                box-shadow: 0 0.3125em 1.25em 0 rgba(46,61,73,0.12);
                width: 150px;
                height: 150px;
                margin: auto;
                overflow: hidden;
                margin-bottom: 15px;
                img{
                    height: 150px;
                }
            }
            .name{
                font-size: 1.5rem;
            }
        }
    }

    .syllabus {
        padding-top: 50px;
        padding-bottom: 50px;
        .h-scrollable {
            padding-top: 20px;
        }
        .title{
            padding-left: 30px;
            font-size: 2rem;
            line-height: 2.25rem;
            text-align: left;
            text-transform: capitalize;
            font-weight: 300;
            color: #2e3d49;
        }
    }
}