input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 11px $sans;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.form-title {
    font-size: 14px;
    margin: 0 0 15px 0;
    color: #2e3d49;
    font-weight: 600;
}

.form-title-bg {
    font-size: 2em;
    margin: 0 0 15px 0;
    color: #2e3d49;
    font-weight: 900;
}

.form-subtitle-bg{
    font-size: 1.5em;
    margin: 0 0 15px 0;
    color: #2e3d49;
    font-weight: 900;
}

.form-section {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-wrapper {
    margin-top: -5px;
    label {
        margin: 10px 0px 5px 0px;
        font-size: 0.9rem;
        opacity: 0.8;
        font-weight: 400;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        user-select: none;
    }
}
.highlight-text {
    color: $light-blue !important;
}
.form-group {
    display: flex;
    position: relative;

    label {
        width: 100%;
        display: block;
        position: absolute;
        top: -20px;
        margin: 10px 0px 5px 0px;

        .yeah-input{
            margin-top: 30px;
        }
    }
    &.with-label {
        flex-wrap: wrap;
    }
    @media (max-width: 500px) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        label {
            width: 100%;
            margin: 15px 0px 5px 0px;
        }
    }
    input+input,.yeah-input+.yeah-input {
        margin-left: 20px;
        @media (max-width: 500px) {
            margin-top: 20px;
            margin-left: 0px;
        }
    }
    .yeah-input  {
        z-index: 30px !important;
        line-height: 44px;
        min-height: 44px;
        width: 100%;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        border: 1px solid #dbe2e8;
        font-size: 14px;
        box-shadow: 0 2px 2px 0 rgba(46,60,73,.05);
        border-radius: 2px;
        color: #2e3d49;
        cursor: text;
        &:focus, &:active {
            outline: none;
            border-color: #02b3e4;
        }

        &:disabled {
            cursor: not-allowed;
            &:focus, &:active {
                outline: none;
                user-select: none;
                border-color: #dbe2e8;
            }
        }
    }
}
.form-group+.form-group {
    margin-top: 20px;
}
.form-group, .form-group input[type=email], .form-group input[type=password], .form-group input[type=text], .form-group textarea {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-group textarea {
    text-align: justify;
    padding: 12px;
    line-height: 1.6rem !important;
    font-size: 1rem !important;
    letter-spacing: 0.6px;

    min-height: 200px;
}

::-webkit-input-placeholder {
   color: #7D97AD;
   letter-spacing: 0.2px;
   font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
   color: #7D97AD;
   letter-spacing: 0.2px;
   font-weight: 300;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #7D97AD;
   letter-spacing: 0.2px;
   font-weight: 300;
}

:-ms-input-placeholder {  
   color: #7D97AD;
   letter-spacing: 0.2px;
   font-weight: 300;
}

// input[type="date"]{
//     padding-right: 0px !important;
//     &::-webkit-calendar-picker-indicator{
//         background: red;
//         height: 100%;
//         width: 50%;
//     }
// }

button.btn {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: $sans;
    display: inline-block;
    border: none;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    height: 44px;
    padding: 0 25px;
    min-width: 207px;
    cursor: pointer;
    &:active, &:focus{
        outline: none;
        box-shadow: none;
    }

    &.btn-primary {
        color: white;
        background: $light-blue;
        transition: 0s all;
        &:hover{
            background: lighten($light-blue, 3%);
        }
        &:active, &:focus{
            outline: none;
            background: lighten($light-blue, 5%);
            box-shadow: none;
        }
    }
    &.btn-default {
        color: $black;
        background: #C0C0C0;
        transition: 0s all;
        &:hover{
            background: lighten(#C0C0C0, 3%);
        }
        &:active, &:focus{
            outline: none;
            background: lighten(#C0C0C0, 5%);
            box-shadow: none;
        }
    }
}

form {
    button {
        margin-top: 30px;
    }
}
 @media (max-width: 500px) {
     button.btn, div.auth-fb-wrapper {
         min-width: 100% !important;
         max-width: 100% !important;
         margin-left: auto;
         margin-right: auto;
     }
 }