.header-component {
    nav{
        width: 100%;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        margin: 0px 0px;
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 80px;

        .nav-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: auto;
            width: 100%;
            max-width: 1200px;
        }
        div {
            padding: 0px 20px;
            display: inline-block;
            color: rgba(white, 0.9);
            font-weight: 300;
            font-size: 0.875rem;
            text-transform: capitalize;
            letter-spacing: 0.6px;
            text-align: center;            

            &:first-child {
                padding-left: 0px;
            }

            &:last-child {
                padding-right: 0px;
            }

            &:hover{
                color: rgba(white, 0.8);
            }
        }

        span.enter-button {
            cursor: pointer;
            padding: 7px 18px;
            background: $light-blue;
            border-radius: 0.25rem;
            box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
            transition: .3s all ease-in-out;
            color: white !important;

            &:hover{
                box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
                background: #02b7e9;
                transition: .3s all ease-in-out;
            }

            &.collapse-button{
                z-index: 100;
                .fa-times{
                    display: none;
                }
                .fa-bars{
                    display: inline;
                }
                &.collapsed{
                    .fa-bars{
                        display: none;
                    }
                    .fa-times{
                        display: inline;
                    }
                }
            }
        }

        .right-nav.hidden-lg-up{
            .fullscreen-nav {
                background: rgba(255,255,255, 0.975);
                z-index: 99;
                height: 0vh;
                width: 100%;
                position: fixed;
                top: 0px;
                right: 0px;
                left: 0px;
                bottom: 0px;
                transition: 0.2s all ease;
                div, .enter-button{
                    display: none;
                }
            }
            &.collapsed{
                .fullscreen-nav {
                    transition: 0.2s all ease;
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    
                    div, .enter-button{
                        user-select: none;
                        color: #525c65;
                        font-weight: 300;
                        font-size: 1rem;
                        display: block;
                        margin-top: 30px;
                        width: 250px;
                        padding: 7px 18px;
                    }
                    div:hover, div:active {
                        background: rgba(0,0,0,0.03);
                        cursor: pointer;
                        padding: 7px 18px;
                        border-radius: 0.25rem;
                        transition: .1s all ease-in-out;
                    }
                }
            }
        }

        .left-nav {
            float: left;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            background: none;

            div.logo{
                font-weight: 100;
                letter-spacing: 10px;
                text-transform: uppercase;
                font-size: 1.3rem;
            }
        }
        .right-nav {
            float: right;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 65%;
            background: none;

            &.hidden-lg-up {
                justify-content: flex-end;
            }

        }

        &.white{
            transition: .1s all ease-in-out;
            background: rgba(255,255,255, 0.95);
            box-shadow: 0px 4px 10px 0px rgba(46,61,73,0.1);
            div {
                color: #525c65;
            }
        }
    }
}

// #app {
//     transition: .2s all ease;
//     position: relative;
//     top: 0vh;
//     &.collapsed{
//         transition: .2s all ease;
//         position: relative;
//         top: 35vh;
//     }
// }

@media (max-width: 890px) {
    .sm-hidden {
        display: none;
    }
    .sm-show {
        display: inline-block;
    }
}
