.header-component {
    background: rgba($white, 0.9);
    border-bottom: 1px solid $gray;
    color: $black;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    text-align: center;
    z-index: 99;

    .container {
        padding: 10px;
    }

    .navbar-nav {
        display: block;
        width: 100%;
    }

    .logo-text {
        cursor: pointer;
        font-family: $sans;
        font-weight: 600;
        font-size: 1em;
        display: inline-block;
        padding: 0px;
        position: relative;
    }

    .nav-link {
        button.btn-primary {
            color: #fff;
            background-color: #02b3e4;
            border: 0.125rem solid transparent;
            letter-spacing: 0;
            font-size: 1rem;
            text-transform: capitalize;
            margin-left: 1rem;
            line-height: 1.9375rem;
            width: 7.75rem;
            box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15) !important;
        }
    }

    .nav-item{
        width: auto;
        float: left;

        &.pull-right {
            width: auto;
            float: right;
        }
    }
}
