.header {
    background: rgba($white, 0.9);
    border-bottom: 1px solid $gray;
    color: $black;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    text-align: center;
    z-index: 99;

    .container {
        padding: 10px;
    }

    .logo-text {
        cursor: pointer;
        font-family: $sans;
        font-weight: 600;
        font-size: 1em;
        display: inline-block;
        padding: 0px;
        position: relative;
    }
}
