.yeah-home{
    .bg{
        transition: all .5s ease;
        z-index: -2;
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        margin: 0 auto;
        background: linear-gradient(150deg,#03CCBA,#AA7FCD);
        width: 100%;
        transform: skewY(-10deg) translateY(-200px);
        height: 100%;
        @media (min-width: 600px) {
            transform: skewY(-10deg) translateY(-200px);
            height: 120%;
        }
        @media (min-width: 930px) {
            transform: skewY(-10deg) translateY(-200px);
            height: 95%;
        }
        @media (min-width: 1200px) {
            transform: skewY(-13deg) translateY(-200px);
            height: 65%;
        }
        @media (min-width: 1500px) {
            transform: skewY(-10deg) translateY(-400px);
            height: 90%;
        }
    }

    .intro-component {
        margin-top: 30px;
        .container-fluid {
            z-index: 50;
            margin: auto;
            width: 90%;
            max-width: 1200px;
            padding: 0px;
            .intro_video{
                width: 100%;
                border-radius: 0.375rem;
                box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.37);
            }
            .headline-card {
                background: white;
                border-radius: 0.375rem;
                width: 100%;
                height: 10.1rem;
                margin: 20px 0px;
                box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.37);
                transition: .5s all ease;
                position: relative;
                cursor: pointer;

                &:hover, &:active{
                    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
                    transition: .2s all ease;
                }
                .header {
                    color: white;
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    width: 33%;
                    font-size: 2.2rem;
                    font-weight: 600;
                    font-weight: 100;
                    border-top-left-radius: 0.375rem;
                    border-bottom-left-radius: 0.375rem;
                    padding: 20px;
                }
                .body {
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    right: 0px;
                    width: 66%;
                    padding: 20px;
                    font-size: 1.5rem;
                    font-weight: 100;
                    font-weight: 900;
                }
                @media (min-width: 1199px) {
                    &:first-child{
                        margin-top: 0px;
                    }

                    &:last-child {
                        margin-bottom: 0px;
                    }
                }

                @media (max-width: 1270px){
                    @media (min-width: 1200px){
                        height: 9.3rem;
                    }
                }

                @media (max-width: 1199px) {
                    @media (min-width: 930px) {
                        display: inline-block;
                        width: 31.9%;
                        margin: 15px 0px;
                        &:nth-child(2) {
                            margin-left: 2.05%;
                            margin-right: 2.05%;
                        }
                    }
                }
            }
        }
    }
    .statistics-component {
        text-align: center;
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 2rem;
        .slide-container{
            padding: 10px 10px;
            font-size: 1.4rem;
            text-align: center;
            img{
                margin: auto;
                max-width: 1000px;
                width: 80%;
            }
        }
    }

    .section {
        text-align: center;
        padding: 20px 0px;
        margin: 80px 0px;
        .title-label{
            background: white;
            box-shadow: 4px 8px 30px 5px rgba(46,61,73,0.15);
            border-radius: 0.325rem;
            font-size: 1.3rem;
            font-weight: 400;
            letter-spacing: 1.3px;
            display: inline-block;
            margin: auto;
            padding: 8px 30px;
            line-height: 25px;
        }
        .description {
            padding-top: 30px;
            font-size: 1.8rem;
            font-weight: 300;
            letter-spacing: 0px;
        }
        .action-button {
            cursor: pointer;
            padding-top: 20px;
            font-size: 1.3rem;
            font-weight: 600;
        }
        &.comment {
            padding-top: 80px;
            padding-bottom: 80px;
            .title {
                font-size: 1.4rem;
            }
        }
        .h-scrollable {
            height: auto;
            padding-top: 50px;
            padding-bottom: 50px;
            cursor: pointer;
            align-items: center;

            &::-webkit-scrollbar {
                height: 7px;
            }
            
            &::-webkit-scrollbar-track {
                background: rgba(46,61,73,0.1);
                border-radius: 10px;
                margin-left: 30px;
                margin-right: 30px;
                margin-bottom: 50px;
            }
            
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background: $light-blue;
                height: 10px !important;
            }
            .card.comment {
                overflow: none;
                height: 500px;
                width: 400px;
                display: inline-block;
                margin: 0px 15px;
                min-width: 250px;
                border: 0px solid rgba(0,0,0,0);
                background: white;
                border-radius: 0.175rem;
                box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
                transition: all 0.1s ease-in-out;
                position: relative;
                text-align: left;
                padding: 0px;
                padding-top: 120px;
                position: relative;
                
                &:hover {
                    box-shadow: 10px 15px 30px rgba(0,0,0,0.1);    
                    transition:  all 0.5s ease-out;
                }
                .header {
                    position: absolute;
                    top: 0px;
                    width: 100%;
                    right: 0px;
                    left: 0px;
                    height: 100px;
                    background: white;
                    padding-top: 25px;

                    .photo {
                        background: #F0F0F0;
                        border-radius: 100px;
                        width: 60px;
                        height: 60px;
                        margin: auto;
                        overflow: hidden;
                        text-align: center;
                        background-repeat: none;
                        background-position: 50% 50%;            
                        background-size: 100%;
                    }
                }
                .body {
                    overflow-y: scroll;
                    overflow-x: hidden;
                    position: absolute;
                    bottom: 0px;
                    width: 100%;
                    right: 0px;
                    left: 0px;
                    text-transform: capitalize;
                    white-space: normal;
                    word-wrap: break-word;
                    font-size: 1rem;
                    font-weight: 400;
                    padding: 32px 32px;
                    padding-top: 10px;
                    height: 8.25rem;
                    height: 80%;
                    background: white;

                    .name {
                        font-weight: 900;
                    }

                    .service {
                        // color: $light-blue;
                    }

                    hr {
                        margin: 15px 0px;
                    }

                    .acceptBy {
                        font-size: 0.8rem;
                        opacity: 0.8;
                    }
                }

                .content {
                    font-size: 0.8rem;
                    text-align: justify;
                    margin-bottom: 50px;
                }
            }
        }
        
    }
}